<!-- Extend your base HTML layout -->
{% extends "base.html" %}

{% block content %}
  <!-- Registration form section -->
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="card">
                  <div class="card-body">
                      <h1 class="card-title text-center">Register</h1>
                      <form method="post" class="pt-3">
                          <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" name="username" id="username" required>
                          </div>
                          <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" name="password" id="password" required>
                          </div>
                          <div class="form-group">
                            <label for="gender">Gender(m/f)</label>
                            <input type="text" class="form-control" name="gender" id="gender" required>
                          </div>
                          <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" class="form-control" name="age" id="age" required>
                          </div>
                          <div class="form-group">
                            <label for="weight">Weight(kg)</label>
                            <input type="text" class="form-control" name="weight" id="weight" required>
                          </div>
                          <div class="form-group">
                            <label for="height">Height(cm)</label>
                            <input type="text" class="form-control" name="height" id="height" required>
                          </div>
                          <div class="form-group">
                            <label for="physical_activity">Physical activity(number)<br>(1.Sedentary 2.Lightly active 3.Moderately active 4.Very active 5.Super active)</label>
                            <input type="text" class="form-control" name="physical_activity" id="physical_activity" required>
                          </div>
                          <div class="form-group">
                            <label for="weight_option">Weight option(number)<br>(1.Increase 2.Maintain 3.Decrease)</label>
                            <input type="text" class="form-control" name="weight_option" id="weight_option" required>
                          </div>
                          <div class="form-group">
                            <label for="weight_option_amount">Weight option(amount)<br></label>
                            <input type="text" class="form-control" name="weight_option_amount" id="weight_option_amount" required>
                          </div>
                          <button type="submit" class="mt-3 btn btn-primary btn-block">Register</button>
                      </form>
                  </div>
              </div>
                <!-- Flash messages section -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="text-center alert alert-{{ category }} alert-dismissible fade show my-4" role="alert">
                            <strong>{{ category|capitalize }}!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
          </div>
      </div>
  </div>
{% endblock %}
